version: '3.3'

services:

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: job_portal_db
      MYSQL_USER: jobuser
      MYSQL_PASSWORD: jobpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  app:
    build: .
    container_name: job-portal-app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8085:8085"
    environment:
      - SERVER_PORT=8085
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/job_portal_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: jobuser
      SPRING_DATASOURCE_PASSWORD: jobpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

volumes:
  mysql_data:
