version: '3.3'

services:

  db:
    image: mysql:8.0
    container_name: jobportal-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: jobportal
      MYSQL_USER: jobuser
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"   # optional if you want to connect from host
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: jobportal-app
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8085
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db_data:
